:root {
    --black: #000000;
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #485057;
    --gray-500: #343A40;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

.container {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 30px;
}
.lado-esquerdo {
    width: 55%;
    height: 100%;
    padding-top: 40px;
}

.logo:hover {
    height: 48px;
    margin-right: 100px;
    transform: scale(1.3);
    transition-duration: 0.7s;
}

form {
    padding-top: 60px;
    padding-left: 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 148px);
}

form textarea {
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 10px;
    font-family: "Inter";
    outline: none;
    color: orangered;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    background-color: #383737;
    padding: 10px;
}

form textarea::placeholder {
    color: orangered;
}

button {
    width: 328px;
    height: 67px;
    text-align: center;
    box-shadow: none;
    border: 1px;
    border-radius: 10px;
    padding: 24px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19px;
}

.alerta {
    font-family: 'Inter';
    font-size: 12px;
    color: white;
    opacity: 0.8;
    margin: 0 0 16px 8px;
}

.alerta img {
    margin-bottom: -4px;
}

.botoes {
    display: flex;
    gap: 25px;
}

button.btn-encript {
    background-color: orangered;
    color: #FFFFFF;
}

button.btn-descript {
    background-color: white;
    color: orangered;
}

button.bt-copiar {
    width: 100%;
    margin-top: 30px;
    background-color: orangered;
    color: white;
}

.lado-direito {

    background-color: rgba(255, 255, 255, 0.35);
    width: 100%;
    height: 670px;
    text-align: center;
    border-radius: 10px;
    margin: 40px 40px 40px 100px;
    padding: 25px;
}

.texto-criptografado p {
    overflow: auto;
}

.sem-retorno img {
    margin: 150px 32px 0 32px;
}

.titulo-sem-retorno {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: white;
    margin: 32px 32px 32px 16px;
}

.sem-retorno p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
}

.texto-criptografado {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-criptografado p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    color: orangered;
}

.d-none {
    display: none;
    pointer-events: none;
}

footer {
    text-align: center;
    color: #FFFFFF;
    background: orangered;
    padding: 40px 0;
    display: block;
    height: auto;
}

.logo-link {
    height: 40px;
    margin: 10px;
}

.logo-link:hover {
    transform: scale(1.3);
    transition-duration: 0.7s;
}